. {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-wrap: wrap;
    position: relative;
    background-image:linear-gradient(to right, skyblue,pink) ;
    
}
h2{
    text-align: center;
}
/*inicio del menu*/
#orden{
    background-image:linear-gradient(to right, skyblue,pink) ;
    height: 80px;
}
#orden ul{
    margin: 0%;
    padding: 0%;
float: right;
font-family: sans-serif;
list-style: none;
}
#orden ul li{
    float: left;
    margin-right: 14px;
    text-decoration: none;
}
#orden a{
    text-decoration: none;
}
#orden ul li a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
/*fin de el inicio*/
.inicio{
    text-align: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 75px;

}
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
  }
  
.inicio:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .inicio:hover::before, .inicio:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #ddce00;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .inicio:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }
/*fin del kei*/
header{
text-align: center;
margin-top: auto;
}
/* inicio de los productos */
.productos{
    display: flex;
    margin: auto;
    padding: auto;
}
.img{
    margin-right: 39px;
    border-radius: 50px;
}
.productos .precio{
margin: auto;
margin-right: 2%;
}
.productos p{
    text-align: center;
}
/* inicio del boton de wp*/
.boton{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.abajo{
    padding:1em 0;
    text-align: center;
    bottom: 0%;
    border-radius: 20px;
    width: 100%;
    }  
      .iconos {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
      }
      
      .iconos li {
        list-style: none;
        margin: 0 15px;
        display: inline-flex;
      }
      
      .iconos li a {
        position: relative; 
        display: block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 63px;
        background: #333;
        border-radius: 50%;
        font-size: 30px;
        color: #666;
        transition: .5s;
      }
      
      .iconos li a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
      }
      
    .iconos li a:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px #ffee10;
      }
      
    .iconos li a:hover {
        color: #ffee10;
        box-shadow: 0 0 5px #ffee10;
        text-shadow: 0 0 5px #ffee10;
      }